<div class="main-page">
  <em data-emoji=":doughnut:" class="main-emoji"></em>
  <h1 class="main-title">
    Donut Shop
  </h1>
  <p class="main-lead">
    Unique items in system:
    {{itemCount}}
  </p>
</div>