<div class="ui top attached negative message">
  <div class="header">
    Delete
    {{item.name}}
  </div>
  <p>
    Are you sure you want to delete this?
  </p>
</div>
<form method="POST" action="" class="ui two bottom attached buttons">
  <a href="{{item.url}}" class="ui secondary basic button">
    Cancel
  </a>
  <button type="submit" class="ui negative basic button">
    Delete
  </button>
</form>