.main.container {
  margin-top: 5em;
}

body {
  background-color: #f7fff5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23effcee' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
}

.button.basic {
  background-color: white !important;
}

.main-page {
  text-align: center;
}

.main-image {
  margin: 0 auto;
}

.main-title {
  font-size: 4em;
}

.main-lead {
  font-size: 1.5em;
}
